<div class="container">
  <div class="row">
    <div
      class="col-sm-6 d-flex align-items-stretch"
      id="padding-bottom"
      *ngFor="let data of fakeBBDD"
    >
      <div class="card">
        <div class="card-header no-color-background">
          <h5
            class="card-title header"
            [routerLink]="['/session']"
            [queryParams]="{ id: data.id }"
          >
            {{ data.title }}
          </h5>
          <p
            class="card-text header"
            [routerLink]="['/session']"
            [queryParams]="{ id: data.id }"
          >
            {{ data.subtitle }}
          </p>
        </div>
        <img
          class="card-img header"
          src="{{ data.image }}"
          alt="Card image cap"
          [routerLink]="['/session']"
          [queryParams]="{ id: data.id }"
        />
        <div class="card-body flex-column">
          <p class="card-text">{{ data.startDate }} - {{ data.endDate }}</p>
          <p class="card-text ocultar-div">
            {{ data.description }}
          </p>
        </div>

        <a
          class="reference-button btn btn-primary mt-auto link-button"
          [routerLink]="['/session']"
          [queryParams]="{ id: data.id }"
        >
          <button class="click-button">
            Comprar
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
