/* You can add global styles to this file, and also import other style files */

.click-button {
  color: inherit;
  border: 0;
  background: none;
  font: inherit;
  line-height: normal;
  padding: 0;
  overflow: visible;
}
