<div class="container">
  <div class="row return-button">
    <a (click)="onclick()">
      Volver
    </a>
  </div>
  <div class="row clear-float" *ngIf="!isEmptyBBDD">
    <div
      class="col-sm-6 d-flex align-items-stretch session-listing border-session-listing"
    >
      <ul>
        <li *ngFor="let data of fakeResponse.sessions">
          Fecha: {{ data.date }}, Disponibilidad: {{ data.availability }}
          <div class="tickets">
            <button class="click-button" (click)="restOneTicket(data.date)">
              <i class="fa fa-minus listing-icons"></i>
            </button>
            <span class="listing-buyTicket">{{ data.buyTicket }}</span>
            <button class="click-button" (click)="addOneTicket(data.date)">
              <i class="fa fa-plus listing-icons"></i>
            </button>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-sm-6 session-listing shopping-cart">
      <h5 class="card-title header">{{ fakeResponse.event.title }}</h5>
      <ul>
        <li *ngFor="let data of fakeResponse.sessions">
          <div *ngIf="data.buyTicket !== 0">
            {{ data.date }}
            <div class="shopping-ticket">
              x{{ data.buyTicket }}
              <button class="click-button" (click)="restOneTicket(data.date)">
                <img
                  class="trash-icon"
                  src="../../assets/img/trash.png"
                  alt="Trash"
                />
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row clear-float" *ngIf="isEmptyBBDD">
    <p>EVENT INFO NOT FOUND</p>
  </div>
</div>
